<table width="100%" cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;font-family:Arial">
    <tr>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">ProductId</th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">ProductName</th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">QuantityPerUnit</th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">UnitPrice</th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">Discontinued</th>
        <th style="background-color: #B8DBFD;border: 1px solid #ccc">Update/Delete</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td style="width:120px;border: 1px solid #ccc">@product.ProductId</td>
            <td style="width:120px;border: 1px solid #ccc">@product.ProductName</td>
            <td style="width:120px;border: 1px solid #ccc">@product.QuantityPerUnit</td>
            <td style="width:120px;border: 1px solid #ccc">@product.UnitPrice$</td>
            <td style="width:120px;border: 1px solid #ccc">@product.Discontinued</td>
            <td style="width:120px;border: 1px solid #ccc">
                <div class="text-end" role="group">
                    <a asp-page="Edit" asp-route-id="@product.ProductId" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-page="Delete" asp-route-id="@product.ProductId" class="btn btn-danger mx-2">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
</table>
