@page
@model Lab3.Pages.OrderPages.IndexModel
@{
    var prevDisabled = !Model.OrderPaging.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.OrderPaging.HasNextPage ? "disabled" : "";
}
@{
    int pagesToShow = 2; // Số lượng trang hiển thị
    int startPage = Model.OrderPaging.PageIndex - pagesToShow;
    int endPage = Model.OrderPaging.PageIndex + pagesToShow;

    if (startPage < 1)
    {
        startPage = 1;
        endPage = Math.Min(Model.OrderPaging.TotalPages, 2 * pagesToShow + 1);
    }

    if (endPage > Model.OrderPaging.TotalPages)
    {
        endPage = Model.OrderPaging.TotalPages;
        startPage = Math.Max(1, Model.OrderPaging.TotalPages - 2 * pagesToShow);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>List Order</h1>
    <hr />
    <div id="Grid">
        <table width="100%" cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;font-family:Arial">
            <tr class="text-center text-white">
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Order ID</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Ship Name</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Contact Name</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Ship Address</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Ship City</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Ship Country</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">OrderDate</th>
                <th style="background-color: #1a1a1a;border: 1px solid #ccc">Detail</th>
            </tr>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td style="width:120px;border: 1px solid #ccc">@order.OrderId</td>
                    <td style="width:140px;border: 1px solid #ccc">@order.ShipName</td>
                    <td style="width:120px;border: 1px solid #ccc">@order.Customer.ContactName</td>
                    <td style="width:120px;border: 1px solid #ccc">@order.ShipAddress</td>
                    <td style="width:120px;border: 1px solid #ccc">@order.ShipCity</td>
                    <td style="width:120px;border: 1px solid #ccc">@order.ShipCountry</td>
                    <td style="width:120px;border: 1px solid #ccc">@order.OrderDate.Value.ToString("dd/MM/yyyy")</td>
                    <td style="width:120px;border: 1px solid #ccc">
                        <div class="text-center">
                            <a asp-page="" asp-page-handler="Detail" asp-route-id="@order.OrderId" class="btn btn-warning mx-2">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
    <br />
    <a asp-page="./Index" asp-route-pageIndex="@(Model.OrderPaging.PageIndex - 1)" class="btn btn-primary @prevDisabled">Previous</a>
    @for (int i = startPage; i <= endPage; i++)
    {
        <a asp-page="./Index" asp-route-pageIndex="@i" class="btn btn-primary @(i == Model.OrderPaging.PageIndex ? "activebtn" : "")">@i</a>
    }
    <a asp-page="./Index" asp-route-pageIndex="@(Model.OrderPaging.PageIndex + 1)" class="btn btn-primary @nextDisabled">Next</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>
